<div id="<%= dom_id(cliente) %>" class="table-container">
  <table>
    <tr>
      <th>Nombre:</th>
      <td><%= cliente.nombre %></td>
    </tr>
    <tr>
      <th>Apellido:</th>
      <td><%= cliente.apellido %></td>
    </tr>
    <tr>
      <th>Puntos:</th>
      <td><%= cliente.puntos %></td>
    </tr>
    <tr>
      <th>Correo:</th>
      <td><%= cliente.correo %></td>
    </tr>
    <tr>
      <th>Password:</th>
      <td><%= cliente.password %></td>
    </tr>
  </table>
</div>