<div id="<%= dom_id bebida %>">
  <table>
    <tr>
      <th>Nombre</th>
      <td><%= bebida.nombre %></td>
    </tr>
    <tr>
      <th>Precio</th>
      <td><%= bebida.precio %></td>
    </tr>
    <tr>
      <th>Tipo</th>
      <td><%= bebida.tipo %></td>
    </tr>
    <tr>
      <th>Zumo</th>
      <td><%= bebida.zumo_id %></td>
    </tr>
    <tr>
      <th>Alcohol</th>
      <td><%= bebida.alcohol_id %></td>
    </tr>
    <tr>
      <th>Refresco</th>
      <td><%= bebida.refresco_id %></td>
    </tr>
  </table>

</div>
