<p style="color: green"><%= notice %></p>

<%= render @zumo %>

<div>
  <%= link_to "Edit this zumo", edit_zumo_path(@zumo), class: "button" %> 
  <%= link_to "Back to zumos", zumos_path, class: "button" %>

  <%= button_to "Destroy this zumo", @zumo, method: :delete, class: "button" %>
</div>
