<p style="color: green"><%= notice %></p>

<%= render @pedido %>

<div>
  <%= link_to "Edit this pedido", edit_pedido_path(@pedido) , class: "button"%> 
  <%= link_to "Back to pedidos", pedidos_path, class: "button" %>

  <%= button_to "Destroy this pedido", @pedido, method: :delete, class: "button" %>
</div>
